.grid-container {
  background-color: indianred;
  padding: 20px;
  display: grid;
  /* grid-template-columns: 200px 400px auto; */
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: 200px 300px 200px;
  /* grid-template-rows: 100px 200px auto; */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-evenly;
  /* height: 500px; */
  align-content: space-evenly;
  /*display: inline-grid;  then utna hi width leta jitna content ka hota hai */
}
.grid-item {
  background-color: wheat;
  border: 1px solid black;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

#grid-1 {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1 / span 3;
  grid-row: 1/3; */
  /* grid-row-start: 1;
  grid-row-end: 4; */
  /* grid-row: 1 / span 4; */
}
#grid-5 {
  grid-area: 1/2 / span 2 / span 3;
}

.grid {
  display: grid;
  background-color: rgb(74, 206, 239);
  padding: 20px;
  margin: 20px;
  /* grid-template-columns: 200px 200px 200px;
  grid-column-gap: 20px;
  grid-row-gap: 20px; */
  grid-gap: 10px;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
}
.grid-items {
  border: 5px solid rgb(5, 61, 140);
  padding: 20px;
}

#grid-header {
  grid-area: header;
}

#grid-menu {
  grid-area: menu;
}
#grid-main {
  grid-area: main;
}

#grid-right {
  grid-area: right;
}
#grid-footer {
  grid-area: footer;
}
